<% provide(:title, @user.name) %>

<h1><%= @user.name %>のタスク一覧</h1>

<div class="row">
  <%= link_to "タスク新規作成", new_user_task_path(@user), class: "btn btn-lg btn-primary btn-new-task" %>

  <table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>作成日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, user_task_path(@user, task), class: "task-name" %></td>
          <td><%= l(task.created_at, format: :long) %></td>
          <td>
            <%= link_to "編集", edit_user_task_path(@user, task), class: "btn btn-md btn-success" %>
            <%= link_to "削除", user_task_path(@user, task), method: :delete, class: "btn btn-md btn-danger",
            data: { confirm: "「#{task.name}」を削除します。よろしいですか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  